body {
  background-image: url(https://wallpaperscave.ru/images/original/18/03-29/abstract-pattern-34913.jpg);
  background-size: 550%;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: orange;
  text-align: center;
}

#para1 {
  text-align: center;
  color: gold;
}

.center {
  text-align: center;
  color: red;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.myDiv {
  border: 10px outset purple;
  background-color: orange;
  text-align: left;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
}

div {
  border: 5px solid gold;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightgrey;
}

p.dashed {
  border-style: dashed;
}

p.pos_left {
  position: relative;
  left: 125px;
}

li {
  display: inline;
}

2f {
  float: inherit;
}

.clearfix {
  overflow: auto;
}
